<ion-header>

    <ion-navbar>
      <ion-title>Attachment</ion-title>
    </ion-navbar>

  </ion-header>

  <ion-content padding>

    <ion-list *ngIf="attachment">
      <ion-item>
        <h2>Expiry Date</h2>
        <ion-note item-end>{{ attachment.expiryAt | date }}</ion-note>
      </ion-item>
      <ion-item>
        <h2>Remark</h2>
        <ion-note item-end>{{ attachment.remark }}</ion-note>
      </ion-item>
    </ion-list>

    <img [src]="(imgSrc | image: token) | async" />
  </ion-content>
