<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
        <ion-label>Ver 1.0.2</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
