<ion-header>

    <ion-navbar>
      <ion-title *ngIf="document">{{ document.details.title }}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
        <ng-container>
          <!-- <div *ngIf="document" [innerHTML]="document.details.body | safe: 'html'"></div> -->
          <render-form *ngIf="document" [(html)]="document.details.body" [customer]="customer" (childData)='handleEvent($event)'></render-form>
        </ng-container> 
      <ion-card>
          <ion-list *ngIf="fileList">
              <ion-item *ngFor="let item of fileList">
              <button ion-button (click)="removeAttachment(item)">
                    <ion-icon name="remove"></ion-icon>&nbsp;
              </button>
              <button ion-button (click)="addAttachment(item)">{{ item.name }}</button>
              </ion-item>
          </ion-list>
      <button ion-button (click)="addAttachment()">
        <ion-icon name="add"></ion-icon>&nbsp;
        Add Attachment
      </button>
      </ion-card>
  </ion-content>