page-testforms {
  .drawing-active {
    background: #d6fffc;
  }
  ion-card {
    img {
      display: inline-block;
      width: 300px;
    }
  }
  [contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
  }

  /* */

  div[contenteditable=true] {
    border: 1px dashed #AAA;
    padding: 5px;
  }

  pre {
    background:#EEE;
    padding:5px;
  }

  ion-card {
    img {
      display: inline-block;
      width: auto;
    }
  }
}

page-testforms-view {
  [contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
  }

  /* */

  div[contenteditable=true] {
    border: 1px dashed #AAA;
    padding: 5px;
  }

  pre {
    background:#EEE;
    padding:5px;
  }

  ion-card {
    img {
      display: inline-block;
      width: auto;
    }
  }
}
