<ion-header>

    <ion-navbar>
      <ion-title>Forms</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
      <ion-searchbar
        (ionInput)="doSearch($event)">
      </ion-searchbar>
    </ion-toolbar>

  </ion-header>


  <ion-content>

    <ion-list>
      <button *ngFor="let tem of templates"  ion-item (click)="view(tem)">
          {{ tem.name }}
        </button>
    </ion-list>

  </ion-content>
