<ion-header>

    <ion-navbar>
      <ion-title *ngIf="document">{{ document.details.title }}</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <ng-container>
        <!-- <div *ngIf="document" [innerHTML]="document.details.body | safe: 'html'"></div> -->
      <render-form *ngIf="document" [(html)]="document.details.body" [customer]="customer" (childData)='handleEvent($event)'></render-form>
    </ng-container>
  </ion-content>
        