<ion-header>

</ion-header>


<ion-content padding id="welcome">

  <div class="logo">
    <img src="assets/imgs/logo.png" class="logo"/>
    <div class="clearfix"></div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-8 offset-2>
        <ion-list inset>
          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8 offset-2 center text-center>
        <button ion-button full color="primary" (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
