page-login {
  #welcome{
    // background: color($colors, energy);
    h1{
        font-size: 52px;
        margin-top:50px
    }
    div.logo {
      text-align: center;
      margin-top: 150px;
    }
    .clearfix {
      clear: both;
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 100px;
    }

    .list-ios[inset] > .item:last-child {
      border-bottom: 1px solid #c8c7cc;
    }
  }
}

