<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Customers" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Template" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tabxRoot" tabTitle="TestTemplate" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>
