<div id="Html2Pdf">
  <!-- <img src="http://localhost:8080/assets/images/header/Announce.jpg" /> -->
<img src="http://10.90.10.203:8080/consent-form-api-v4/assets/images/header/Announce.jpg" />
<!-- Start Header -->
<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img src="assets/imgs/logo.png" />
          <ion-card>
            <ion-card-content>
              <p style="white-space:pre-line;">{{title}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col> 
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col>
                <small>Name:</small> {{full_name}}
              </ion-col>
              <ion-col>
                <small>Nationality:</small> {{nationality}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Hn:</small> {{hn}}
              </ion-col>
              <ion-col>
                <small>Physician:</small> {{physician}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Visit Date:</small> {{episodeDate}}
              </ion-col>
              <ion-col>
                <small>Department:</small> {{location}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Birth Date:</small> {{birthDate}}
              </ion-col>
              <ion-col>
                <small>Age:</small> {{age}}
              </ion-col>
              <ion-col>
                <small>Gender:</small> {{gender}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Allergies:</small> {{allergies}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Side Effect:</small> {{sideEffect}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
</ion-card>
<!-- End Header -->

<!-- Start Content -->
<ion-card>
<ion-card-content>
  <ng-container>
    <ion-grid style="width:100%">
        <ion-row>
            <ion-col col-auto style="align-self:center;">
              <b>
                ข้าพเจ้า นาย/นาง/นางสาว
              </b>
            </ion-col>
            <ion-col col-5>
                <div contenteditable="true">&nbsp;</div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-auto style="align-self:center;">
                <b>
                  เลขประจำตัวบัตรประชาชน / เลขหนังสือเดินทาง 
                </b>
              </ion-col>
              <ion-col col-3>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
            </ion-row>
            <br />
            <br />
      <ion-row>
        <ion-col>
          ขอแสดงความยินยอมโดยสมัครใจในการเข้ารับการทดสอบสมรรถภาพทางกายและการออกกำลังกายที่ศูนย์ออกกำลังกาย เวลเนส คลินิก  โดยยินยอมให้ 
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-2 style="align-self:center;">
              นายแพทย์/แพทย์หญิง 
          </ion-col>
          <ion-col col-4>
              <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col col-auto style="align-self:center;">
              และคณะแพทย์/เจ้าหน้าที่ รวมถึงทีมผู้เชี่ยวชาญ ให้มีส่วนร่วมในการดูแลข้าพเจ้า        
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-auto  style="align-self:center;">
              ข้าพเจ้าได้รับทราบข้อมูล คำอธิบาย และแผนการออกกำลังกายของข้าพเจ้าเป็นอย่างดีแล้ว  และทราบดีว่า
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <div contenteditable="true">&nbsp;</div>
          </ion-col>
          </ion-row>
          <br />
          <br />

          <ion-row>
              <ion-col col-auto  style="align-self:center;">
                  ข้าพเจ้าเข้าใจและยินยอมให้มีการดำเนินการตามที่ได้วางแผนไว้สำหรับข้าพเจ้า คือ :
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <div contenteditable="true">&nbsp;</div>
            </ion-col>
            </ion-row>
      <ion-row>
        <ion-col>
            ทั้งนี้ ข้าพเจ้าได้รับทราบรายละเอียดจากแพทย์/เจ้าหน้าที่ 
            ตลอดจนมีโอกาสได้ซักถามจนสิ้นข้อสงสัยเกี่ยวกับหลักปฏิบัติทั่วไปในการออกกำลังกาย
             แผนการออกกำลังกาย  รวมถึงประโยชน์ ความเสี่ยงต่อการบาดเจ็บ 
             เช่น การระบมของกล้ามเนื้อ เคล็ดขัดยอก เป็นลมหน้ามืด 
             ผลข้างเคียงและ/หรือผลที่ได้อาจเกิดขึ้นได้ในภายหลังแม้ว่าจะมีการแนะนำและการป้องกันแล้วก็ตาม 
             อีกทั้งทางเลือกอื่นๆที่เป็นไปได้สำหรับกรณีของข้าพเจ้า 
        </ion-col>          
      </ion-row>
      <ion-row>
          <ion-col>
            ข้าพเจ้าได้รับทราบและเข้าใจข้อความในหนังสือนี้โดยละเอียดตลอดแล้ว พร้อมได้รับเอกสารคำแนะนำประกอบการอธิบายเรียบร้อยแล้ว ณ ที่นี้  
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-auto style="align-self:center;">
              (หากมีเอกสารคำแนะนำโปรดระบุ เรื่อง           
           </ion-col>
           <ion-col col-3>
              <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col col-auto style="align-self:center;">
              หมายเลข    
           </ion-col>
           <ion-col col-2>
              <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col col-auto style="align-self:center;">
              )จึงได้ลงลายมือชื่อไว้เป็นหลักฐาน    
           </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-2>
            ลายเซ็นผู้รับบริการ
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
            ชื่อผู้รับบริการ
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นพยาน
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
            ชื่อพยาน
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นพยาน
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
              ชื่อพยาน
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>(เฉพาะกรณีพิมพ์ลายนิ้วมือผู้ป่วย)</ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นผู้ให้ข้อมูลผู้รับบริการ 
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
              ชื่อแพทย์/เจ้าหน้าที่ 
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>โปรดระบุเหตุผลที่ทำให้ ผู้รับบริการไม่สามารถลงลายมือชื่อยินยอมด้วยตนเองได้ </b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1>
            <custom-checkbox></custom-checkbox> ยังไม่บรรลุนิติภาวะ-ผู้ป่วยอายุไม่ครบ 20 ปี บริบูรณ์
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1 col-3>
            <custom-checkbox></custom-checkbox> ผู้บกพร่องทางกายหรือจิต
          </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1 col-3>
            <custom-checkbox></custom-checkbox> อื่นๆ(โปรดระบุ)
          </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              ข้อความดังกล่าวข้างต้นได้ถูกอธิบายให้ผู้ที่มีอำนาจตามกฎหมายในการตัดสินใจแทนผู้รับบริการ 
              (นามดังกล่าวข้างล่าง) ได้รับทราบและแสดงความยินยอมเพื่อให้นายแพทย์/แพทย์หญิง 
              (นามดังกล่าวข้างต้น) และคณะแพทย์/เจ้าหน้าที่ รวมถึงทีมผู้เชี่ยวชาญ สามารถกระทำการตามแผนการทดสอบสมรรถภาพ      
              ทางกาย และแผนการออกกำลังกายให้แก่ผู้รับบริการได้
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2>
              ลายเซ็นผู้แทนผู้รับบริการ 
            </ion-col>
            <ion-col>
              <draw-pad></draw-pad>
            </ion-col>
            <ion-col col-2>
                ชื่อผู้แทนผู้รับบริการ 
            </ion-col>
            <ion-col>
              <div contenteditable="true">&nbsp;</div>
            </ion-col>
            <ion-col>
              Date [[datetime]]
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-auto style="align-self:center;">
                  ความสัมพันธ์กับผู้รับบริการ
              </ion-col>
              <ion-col col-1>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
              <ion-col col-auto style="align-self:center;">
                  หมายเลขบัตรประจำตัวประชาชน/หนังสือเดินทาง
              </ion-col>
              <ion-col col-2>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-auto style="align-self:center;">
                  สถานที่ออกบัตรฯ
              </ion-col>
              <ion-col col-3>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
              <ion-col col-auto style="align-self:center;">
                  วันออกบัตรฯ 
              </ion-col>
              <ion-col col-2>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
              <ion-col col-auto style="align-self:center;">
                  วันที่บัตรฯหมดอายุ 
              </ion-col>
              <ion-col col-2>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto style="align-self:center;">
                ที่อยู่ปัจจุบันของผู้แทนผู้รับบริการ 
            </ion-col>
            <ion-col col-5>
              <div contenteditable="true">&nbsp;</div>
          </ion-col>
          </ion-row>
        <br>
      <br>
    <br>
    <ion-row>
      <ion-col>
        F/M-BWC-030 (1 April 2019)
      </ion-col>
    </ion-row>
    </ion-grid>
  </ng-container>
</ion-card-content>
</ion-card>
<!-- End Content -->
</div>