<ion-header>

  <ion-navbar>
      <ion-title>FormTemplate</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<!-- Start Header -->
<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <img src="assets/imgs/logo.png" />
          <ion-card>
            <ion-card-content>
              <p style="white-space:pre-line;">{{title}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col>
                <small>Name:</small> {{full_name}}
              </ion-col>
              <ion-col>
                <small>Nationality:</small> {{nationality}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Hn:</small> {{hn}}
              </ion-col>
              <ion-col>
                <small>Physician:</small> {{physician}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Visit Date:</small> {{episodeDate}}
              </ion-col>
              <ion-col>
                <small>Department:</small> {{location}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Birth Date:</small> {{birthDate}}
              </ion-col>
              <ion-col>
                <small>Age:</small> {{age}}
              </ion-col>
              <ion-col>
                <small>Gender:</small> {{gender}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <small>Allergies:</small> {{allergies}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
</ion-card>
<!-- End Header -->

<!-- Start Content -->
<!-- Dental Surgery -->
<ion-card>
  <ion-card-content>
    <ng-container>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <p> ข้าพเจ้า นาย/นาง/นางสาว </p>
          </ion-col>
          <ion-col col-3>{{full_name}}</ion-col>
          <ion-col col-1>
            <p>อายุ</p>
          </ion-col>
          <ion-col col-4>{{age}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <p> เลขประจำตัวบัตรประชาชน/เลขหนังสือเดินทาง</p>
          </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;{{idcard}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <p>ข้าพเจ้าขอแสดงความยินยอมโดยสมัครใจให้นายแพทย์/แพทย์หญิง/ทันตแพทย์</p>
          </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col col-12>
            <p>และ/หรือคณะแพทย์-พยาบาล/พนักงานของโรงพยาบาลที่ได้รับมอบหมาย รวมถึงทีมแพทย์ผู้เชี่ยวชาญ ให้มีส่วนร่วมในการดูแลข้าพเจ้า
              ซึ่งข้าพเจ้าได้รับคำอธิบาย ทราบถึงอาการความเจ็บป่วยของข้าพเจ้าคือ:</p>
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            ข้าพเจ้าเข้าใจและยินยอมให้มีการดำเนินการรักษา โดยการผ่าตัด การรักษาโดยใช้ยาและ/หรือการกระทำการตรวจวินิจฉัย ตามที่ได้มีการ
            วางแผนไว้สำหรับข้าพเจ้าคือ: 
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            ข้าพเจ้าได้รับทราบรายละเอียดจากแพทย์ตลอดจนเปิดโอกาสให้ข้าพเจ้าได้ซักถามจนเป็นที่พอใจเกี่ยวกับการผ่าตัด การใช้ยา และ/หรือ
            การตรวจวินิจฉัย ทั้งนี้ รวมถึงประโยชน์ ความเสี่ยง ผลข้างเคียงและ/หรือผลที่ได้อาจเกิดขึ้นได้ในภายหลัง อีกทั้งทางเลือกอื่นๆที่เป็นไปได้
            สำหรับกรณีของข้าพเจ้านี้ และข้าพเจ้าเข้าใจสิ่งที่แพทย์อธิบายเป็นอย่างดี
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                (หากมีเอกสารคำแนะนำโปรดระบุ เรื่อง
              </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col col-1>
            <font float-right>หมายเลข</font>
          </ion-col>
          <ion-col col-3>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
           <ion-col col-1>) </ion-col>     
        </ion-row>
        <ion-row>
          <ion-col>
              ข้าพเจ้าขอแสดงความยินยอมให้นายแพทย์/แพทย์หญิง/ทันตแพทย์ (นามดังกล่าวข้างต้น) และ/หรือคณะแพทย์–
              พยาบาล ผู้ที่ได้รับมอบหมายฯ สามารถกระทำการรักษา/หัตถการ เพิ่มเติมด้วยเหตุผลซึ่งแสดงถึงความจำเป็นในการวินิจฉัย/การ
              รักษาดังกล่าว อาทิเช่น การระงับความรู้สึก การให้โลหิตและ/หรือ ผลิตภัณฑ์ของโลหิต การวินิจฉัยทางรังสีวิทยาและพยาธิวิทยา
              การตัดชิ้นเนื้อหรือส่วนของอวัยวะซึ่งกระทำโดยแพทย์ผู้ทำการผ่าตัด/รักษา/ตรวจวินิจฉัย รวมถึงการถ่ายภาพ และภาพเคลื่อนไหว
              ได้รับการยินยอมจากข้าพเจ้า หากการวินิจฉัย/การรักษาดังกล่าวกระทำไปโดยคำนึงถึงผลประโยชน์ของตัวข้าพเจ้าเอง
            <br/>
            <br/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-2>
          </ion-col>
          <ion-col>
            <p>
              <img src="http://10.90.10.203:8080/consentform_fileupload/Dental-Thai.png" />
            </p>
          </ion-col>
          <ion-col col-sm-2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <font color="red">ข้าพเจ้าได้อ่านและรับทราบข้อมูล/รายละเอียดดังกล่าวข้างต้น พร้อมได้รับเอกสารคำแนะนำประกอบการอธิบายเรียบร้อยแล้ว              </font>
            <br/> ณ ที่นี้ข้าพเจ้าขอแสดงความยินยอมเพื่อรับการรักษา
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นผู้รับบริการ
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
            ชื่อผู้รับบริการ
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นพยาน
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
            ชื่อพยาน
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นพยาน
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
              ชื่อพยาน
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>(เฉพาะกรณีพิมพ์ลายนิ้วมือผู้ป่วย)</ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นผู้ให้ข้อมูล
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
            ชื่อแพทย์/ทันตแพทย์/ผู้ได้รับมอบหมาย
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>โปรดระบุเหตุผลที่ทำให้ผู้ป่วยไม่สามารถเซ็นยินยอมเพื่อรับการรักษาด้วยตนเองได้</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1>
            <custom-checkbox></custom-checkbox> ยังไม่บรรลุนิติภาวะ-ผู้ป่วยอายุไม่ครบ 20 ปี บริบูรณ์
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1 col-3>
            <custom-checkbox></custom-checkbox> ผู้บกพร่องทางกายหรือจิต
          </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1 col-3>
            <custom-checkbox></custom-checkbox> อื่นๆ(โปรดระบุ)
          </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              ข้อความดังกล่าวข้างต้นได้ถูกอธิบายให้ผู้ที่มีอำนาจตามกฎหมายในการตัดสินใจแทนผู้ป่วย (นามดังกล่าวข้างล่าง) ได้รับทราบและ
              แสดงความยินยอมเพื่อรับการรักษาดังกล่าวแล้ว
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นผู้แทนผู้รับการตรวจ
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
            ชื่อผู้แทนผู้รับการตรวจ
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            (Printed name) Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ความสัมพันธ์กับผู้ป่วย
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col col-2>
              หมายเลขบัตรประจำตัว 
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            สถานที่ออกบัตรฯ
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col col-2>
              วันออกบัตรฯ
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col col-2>
              วันที่บัตรฯหมดอายุ
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ที่อยู่ปัจจุบันของผู้ที่เซ็นแทนผู้ป่วย 
          </ion-col>
          <ion-col col-8>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-card-content>
</ion-card>
<!-- End Dental Surgery -->
<!-- End Content -->
</ion-content>