<meta http-equiv="content-type" content="text/html; charset=UTF8">
<ion-header>

  <ion-navbar>
      <ion-title>FormTemplate</ion-title>
      <button (click)="generatePdf()">Testttttttttttttt</button>
  </ion-navbar>

</ion-header>

<ion-content padding>
<div id="Html2Pdf">
<!-- Start Header -->
<ion-card style="text-align:justify;">
    <ion-card-header>
      <ion-grid>
        <ion-row>
            <ion-col col-auto style="align-self:center;">
                ข้าพเจ้า นาย/นาง/นางสาว
            </ion-col>
            <ion-col col-5>
                <div contenteditable="true">&nbsp;</div>
            </ion-col>
            <ion-col col-auto style="align-self:center;">
                อายุ
            </ion-col>
            <ion-col col-1>
                <div contenteditable="true">&nbsp;</div>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-auto style="align-self:center;">
                <b>
                  เลขประจำตัวบัตรประชาชน / เลขหนังสือเดินทาง 
                </b>
              </ion-col>
              <ion-col col-4>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
            </ion-row>
            <br />
            <br />

            <ion-row>
              <ion-col>
                <b>
                  1.&nbsp;&nbsp;&nbsp;&nbsp;
                </b>
                ข้าพเจ้ายินยอมโดยสมัครใจให้คณะแพทย์-พยาบาล, เจ้าหน้าที่และ/หรือบุคลากรอื่นๆในทีมสุขภาพของ บีดีเอ็มเอส เวลเนส คลินิก
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
              ทําการตรวจรักษาและกระทําการใดๆ ตามหลักวิชาชีพทางการแพทย์เปิดเผยข้อมูลการตรวจรักษาของข้าพเจ้าให้แก่ทีมสุขภาพของ 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              บีดีเอ็มเอส เวลเนส คลินิก ที่เกี่ยวข้องซึ่งมีความจําเป็นในการเข้าถึงข้อมูลของข้าพเจ้าทั้งนี้ ข้าพเจ้าได้รับทราบถึงคําประกาศสิทธิ 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              ผู้ป่วยและเข้าใจ เป็นอย่างดีแล้วรวมถึงได้รับสําเนาคําประกาศสิทธิและข้อพึงปฏิบัติของผู้ป่วย
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ยินยอม
              </ion-col>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ไม่ยินยอม
              </ion-col>
            </ion-row>

<<<<<<< HEAD
            <ion-row>
              <ion-col>
                <b>
                  2.&nbsp;&nbsp;&nbsp;&nbsp;
                </b>
                ข้าพเจ้ายินยอมโดยสมัครใจให้คณะแพทย์พยาบาล และ/หรือบุคลากรอื่นๆ ในทีมสุขภาพของบีดีเอ็มเอส เวลเนส คลินิก ทํา
=======
          <ion-row>
<<<<<<< HEAD
              <ion-col>
                <b>
                  <u style="text-align:justify;">
                    หนังสือแสดงความยินยอมการใช้เครื่องออกกำลังกาย DAVID
                  </u>
                </b>
=======
              <ion-col col-auto  style="align-self:center;">
                  ข้าพเจ้าเข้าใจและยินยอมให้มีการดำเนินการตามที่ได้วางแผนไว้สำหรับข้าพเจ้า คือ :
>>>>>>> 831cb816a4d479951e90820c7e60f9421b99b72f
>>>>>>> 118d50b1ee8316eada5925f0783a7dc1c4217839
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
                การตรวจวินิจฉัย/รักษา การบันทึกข้อมูลสุขภาพ การปรึกษาทีมแพทย์ผู้เชี่ยวชาญ รวมถึงการถ่ายภาพนิ่งและภาพเคลื่อนไหว
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                เพื่อติดตามการรักษาและ/หรือกระทําการใดๆ ตามหลักวิชาชีพทางการแพทย์ได้ตลอดระยะเวลาที่ข้าพเจ้าเข้าอยู่รับการตรวจรักษา
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                โดยจะต้องอธิบายข้อมูลรายละเอียดให้แก่ข้าพเจ้าได้เข้าใจและยินยอมก่อนที่จะดําเนินการอีกทั้งเปิดโอกาสให้ข้าพเจ้าซักถามจนเป็นที่พอใจ 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ยินยอม
              </ion-col>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ไม่ยินยอม
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <b>
                  3.&nbsp;&nbsp;&nbsp;&nbsp;
                </b>
                ข้าพเจ้ายินยอมโดยสมัครใจให้บีดีเอ็มเอส เวลเนส คลินิกเก็บรวบรวมข้อมูลใช้และเปิดเผยข้อมูลสุขภาพของข้าพเจ้า โดยข้าพเจ้า
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
                รับทราบดีว่าข้อมูลจะถูกจัดเก็บในระบบของบีดีเอ็มเอส เวลเนส คลินิก โดยมีมาตรฐานเพื่อควบคุม ความปลอดภัยของข้อมูลซึ่งจะ
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                มีระยะเวลาการเก็บรักษาอย่างน้อย 5 ปี ตามที่กฏหมายกําหนด 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ยินยอม
              </ion-col>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ไม่ยินยอม
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <b>
                  4.&nbsp;&nbsp;&nbsp;&nbsp;
                </b>
                ข้าพเจ้ายินยอมต่อคณะแพทย์-พยาบาล และ/หรือ บุคลากรอื่นๆ ที่เกี่ยวข้องของบีดีเอ็มเอส เวลเนส คลินิกในการเข้าถึงและสําเนา
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ข้อมูลประวัติการรักษาของข้าพเจ้าที่มีอยู่กับสถานพยาบาลในเครือ บริษัท กรุงเทพดุสิตเวชการ จํากัด (มหาชน) ทั้งที่มีอยู่ในปัจจุบัน
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               และที่จะมีขึ้นในอนาคต(“สถานพยาบาลในเครือ”)และยินยอมให้ สถานพยาบาลในเครือเข้าถึงและสําเนาข้อมูล 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ประวัติการรักษาของข้าพเจ้าที่มีอยู่กับบีดีเอ็มเอส เวลเนส คลินิก เพื่อประโยชน์ในการให้บริการทางการแพทย์แก่ข้าพเจ้า  
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ทั้งนี้ข้อมูล ประวัติการรักษาของข้าพเจ้าประกอบไปด้วย (“ข้อมูลการรักษาพยาบาล”)
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                1.&nbsp;&nbsp;&nbsp;&nbsp;
                วันเดือนปีที่ข้าพเจ้าเคยเข้ารับการรักษา
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                2.&nbsp;&nbsp;&nbsp;&nbsp;
                ประวัติแพ้ยาและประวัติผลข้างเคียงจากยา
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                3.&nbsp;&nbsp;&nbsp;&nbsp;
                ประวัติแพ้อาหาร
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                4.&nbsp;&nbsp;&nbsp;&nbsp;
                ชื่อโรคที่ได้รับการวินิจฉัย ชื่อหัตถการ และชื่อการผ่าตัด
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                5.&nbsp;&nbsp;&nbsp;&nbsp;
                ผลเลือด ผลตรวจทางห้องปฏิบัติการ ผลตรวจชิ้นเนื้อทางพยาธิวิทยา ภาพถ่ายทางรังสีวิทยา และรายงานผล
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              การตรวจทางรังสีวิทยา 
            </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                6.&nbsp;&nbsp;&nbsp;&nbsp;
                รายการยาที่แพทย์ได้สั่ง
            </ion-col>
            </ion-row>

              <ion-row>
                <ion-col>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  7.&nbsp;&nbsp;&nbsp;&nbsp;
                  ข้อมูลที่จําเป็นต่อการให้บริการทางการแพทย์
              </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  โดยการเข้าถึงข้อมูลและทําสําเนาดังกล่าวจะใช้อุปกรณ์ เครื่องมือ หรือ ระบบหรือโปรแกรมคอมพิวเตอร์
                </ion-col>
              </ion-row>    

              <ion-row>
                <ion-col> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ที่เชื่อมโยงฐานข้อมูลการรักษาพยาบาลของข้าพเจ้าระหว่าง บีดีเอ็มเอส เวลเนส คลินิกและ สถานพยาบาลในเครือ
              </ion-col>
            </ion-row> 

            <ion-row>
              <ion-col> 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              (โปรแกรม B-Exchange)
            </ion-col>
          </ion-row> 

            <ion-row>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ยินยอม
              </ion-col>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ไม่ยินยอม
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <b>
                  5.&nbsp;&nbsp;&nbsp;&nbsp;
                </b>
                ข้าพเจ้ายินยอมให้บีดีเอ็มเอส เวลเนส คลินิก นําข้อมูลการรักษาพยาบาลของข้าพเจ้าเข้าสู่ระบบคอมพิวเตอร์ในรูปแบบของ
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
                โมบายแอพพลิเคชั่นและเว็บไซต์ซึ่งเป็นระบบการเชื่อมโยงฐานข้อมูลอิเล็กทรอนิกส์ด้านเวชระเบียนระหว่างสถานพยาบาลในเครือเพื่อให้
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ข้าพเจ้าสามารถเรียกดูข้อมูลการรักษาพยาบาลของข้าพเจ้าผ่านอุปกรณ์ต่างๆ และอํานวยความสะดวกแก่บีดีเอ็มเอส เวลเนส คลินิก
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                หรือสถานพยาบาลในเครือ ในกรณีการให้คําปรึกษาแก่ข้าพเจ้าทางโทรศัพท์ หรือ อุปกรณ์สื่อสารอื่นใด 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ยินยอม
              </ion-col>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ไม่ยินยอม
              </ion-col>
            </ion-row>      

            <ion-row>
              <ion-col>
                <b>
                  6.&nbsp;&nbsp;&nbsp;&nbsp;
                </b>
                ข้าพเจ้าให้โรงพยาบาลนําข้อมูลผลการตรวจสุขภาพ และข้อมูลอื่นๆ ที่เกี่ยวข้องกับสุขภาพ เช่น ผลการตรวจรักษา ผลการตรวจทาง 
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
                ห้องปฏิบัติการ หรือทางรังสีเป็นต้น ไปใช้เพื่อการศึกษาวิเคราะห์สําหรับการพัฒนาคุณภาพของการรักษาพยาบาล 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ทั้งนี้ บีดีเอ็มเอส เวล เนส คลินิก และบุคลากรของบีดีเอ็มเอส เวลเนส คลินิก มีหน้าที่รักษาความลับของข้อมูลของข้าพเจ้าอย่างเคร่งครัด 
            </ion-col>
            </ion-row>
            <ion-row>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ยินยอม
              </ion-col>
              <ion-col offset-1 col-2>
                <custom-checkbox></custom-checkbox> ไม่ยินยอม
              </ion-col>
            </ion-row>         
            
            <ion-row>
              <ion-col offset-1>
                ข้าพเจ้าอาจเพิกถอนความยินยอมที่ให้ไว้ข้างต้นในเวลาใดๆ ก็ได้ โดยลงลายมือชื่อในแบบฟอร์มที่บีดีเอ็มเอส เวลเนส คลินิก 
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                กําหนดทั้งนี้ ไม่กระทบถึงการใดๆ ที่บีดีเอ็มเอส เวลเนส คลินิก หรือสถานพยาบาลในเครือได้ กระทําไปตามความยินยอม 
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ของข้าพเจ้าก่อนการเพิกถอนดังกล่าว เพื่อเป็นหลักฐานแห่งการนี้ ข้าพเจ้าจึงลงลายมือไว้เพื่อเป็นหลักฐานประกอบคํายืนยัน
              </ion-col>
            </ion-row>

      <ion-row>
          <ion-col col-2>
            ลายเซ็นผู้รับบริการ
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
            ชื่อผู้รับบริการ
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
<<<<<<< HEAD
          <ion-col style="text-align:justify;">
              การออกกำลังกาย นับเป็นปัจจัยสำคัญปัจจัยหนึ่งที่จะส่งเสริมให้มนุษย์มีสุขภาพร่างกายที่แข็งแรงสมบูรณ์มากยิ่งขึ้น 
              โดยเฉพาะในผู้ที่มีปัญหาทางระบบกระดูกและกล้ามเนื้อนั้น การออกกำลังกายนับว่าเป็นยาวิเศษที่มีผลในการรักษาโรค
              เป็นอย่างมาก ซึ่งปัจจัยที่จะทำให้การออกกำลังกายแต่ละครั้งมีประสิทธิภาพนั้น ต้องประกอบไปด้วยการเคลื่อนไหวที่ถูกต้อง 
              มีการควบคุมแรงต้าน (Load), ความเร็ว (Speed) และช่วงการเคลื่อนไหว (Range of movement) ที่เหมาะสม 
              ซึ่งเครื่องออกกำลังกาย DAVID มีคุณสมบัติดังกล่าวอย่างครบถ้วน ทุกการเคลื่อนไหวในการออกกำลังกาย
              จะถูกควบคุมโดยกราฟแสดงผลเป็น feedback ที่สามารถเห็นได้อย่างชัดเจน เพื่อให้แน่ใจว่าทุกการเคลื่อนไหว
              เป็นไปอย่างถูกต้อง มีประสิทธิภาพและมีความปลอดภัยสูงสุด การออกกำลังกายด้วยเครื่อง DAVID 
              สามารถใช้ได้ทั้งในผู้ป่วยที่ต้องการรักษาฟื้นฟูสมรรถภาพ, ในผู้ที่ต้องการออกกำลังกายเพื่อส่งเสริมสุขภาพ 
              และในผู้ที่ออกกำลังกายเพื่อเพิ่มความแข็งแรง
=======
          <ion-col col-2>
            ลายเซ็นพยาน
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
            ชื่อพยาน
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นพยาน
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
              ชื่อพยาน
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
>>>>>>> 831cb816a4d479951e90820c7e60f9421b99b72f
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>(เฉพาะกรณีพิมพ์ลายนิ้วมือผู้ป่วย)</ion-col>
        </ion-row>
        <br/>
        <ion-row>
          <ion-col col-2>
            ลายเซ็นผู้ให้ข้อมูลผู้รับบริการ 
          </ion-col>
          <ion-col>
            <draw-pad></draw-pad>
          </ion-col>
          <ion-col col-2>
              ชื่อแพทย์/เจ้าหน้าที่ 
          </ion-col>
          <ion-col>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
          <ion-col>
            Date [[datetime]]
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>[โปรดระบุเหตุผลที่ทำให้ผู้รับบริการไม่สามารถลงลายมือชื่อให้ความยินยอมเพื่อรับการรักษาด้วยตนเองได้]  </b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1>
            <custom-checkbox></custom-checkbox> ยังไม่บรรลุนิติภาวะ-ผู้ป่วยอายุไม่ครบ 20 ปี บริบูรณ์
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1 col-3>
            <custom-checkbox></custom-checkbox> ผู้บกพร่องทางกายหรือจิต
          </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-1 col-3>
            <custom-checkbox></custom-checkbox> อื่นๆ(โปรดระบุ)
          </ion-col>
          <ion-col col-4>
            <div contenteditable="true">&nbsp;</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            ข้อความดังกล่าวข้างต้นได้ถูกอธิบายให้ผู้ที่มีอํานาจตามกฎหมายใน การตัดสินใจแทนผู้รับบริการ (นามดังกล่าวข้างล่าง) ได้รับทราบและ
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            แสดงความยินยอมเพื่อรับการรักษาดังกล่าวแล้ว 
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2>
              ลายเซ็นผู้แทนผู้รับบริการ 
            </ion-col>
            <ion-col>
              <draw-pad></draw-pad>
            </ion-col>
            <ion-col col-2>
                ชื่อผู้แทนผู้รับบริการ 
            </ion-col>
            <ion-col>
              <div contenteditable="true">&nbsp;</div>
            </ion-col>
            <ion-col>
              Date [[datetime]]
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-auto style="align-self:center;">
                  ความสัมพันธ์กับผู้รับบริการ
              </ion-col>
              <ion-col col-1>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
              <ion-col col-auto style="align-self:center;">
                หมายเลขบัตรประจำตัว
              </ion-col>
              <ion-col col-2>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-auto style="align-self:center;">
                  สถานที่ออกบัตรฯ
              </ion-col>
              <ion-col col-3>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
              <ion-col col-auto style="align-self:center;">
                  วันออกบัตรฯ 
              </ion-col>
              <ion-col col-2>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
              <ion-col col-auto style="align-self:center;">
                  วันที่บัตรฯหมดอายุ 
              </ion-col>
              <ion-col col-2>
                  <div contenteditable="true">&nbsp;</div>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-auto style="align-self:center;">
                ที่อยู่ปัจจุบันของผู้แทนผู้รับบริการ 
            </ion-col>
            <ion-col col-5>
              <div contenteditable="true">&nbsp;</div>
          </ion-col>
          </ion-row>

    </ion-grid>

    <ion-grid>
      <ion-row style="border:1px;border-style:dashed">
        <ion-col> <sup>1</sup>
          ปัจจุบัน สถานพยาบาลในเครือบริษัท กรุงเทพดุสิตเวชการ จํากัด (มหาชน) ที่สามารถเชื่อมโยง
          ข้อมูลอิเล็กทรอนิกส์ด้านเวชระเบียนประกอบด้วยโรงพยาบาลกรุงเทพ, โรงพยาบาลหัวใจกรุงเทพ,
          โรงพยาบาลวัฒโนสถ, โรงพยาบาลกรุงเทพหัวหิน,โรงพยาบาลกรุงเทพสนามจันทร์,โรงพยาบาลรอยัล พนมเปญ, โรงพยาบาลกรุงเทพเพชรบุรี,โรงพยาบาลกรุงเทพเมืองราช, 
          โรงพยาบาลเทพากร,โรงพยาบาลรอยัลอังกอร์อินเตอร์เนชั่นแนล, โรงพยาบาลสมิติเวชไชน่าทาวน์, โรงพยาบาลสมิติเวชสุขุวิท,
          โรงพยาบาลสมิติเวชศรีนครินทร์, โรงพยาบาลสมิติเวชศรีราชา, โรงพยาบาลสมิติเวชธนบุรี,โรงพยาบาลบีเอ็นเอช, 
          โรงพยาบาลกรุงเทพพัทยา, โรงพยาบาลกรุงเทพระยอง, โรงพยาบาลกรุงเทพจันทบุรี, โรงพยาบาลกรุงเทพตราด, 
          โรงพยาบาลศรีระยอง, โรงพยาบาลจอมเทียน,คลินิกอินเตอร์เนชั่นแนลเกาะช้าง, โรงพยาบาลกรุงเทพราชสีมา, 
          โรงพยาบาลกรุงเทพปากช่อง, โรงพยาบาลกรุงเทพอุดร, โรงพยาบาลกรุงเทพขอนแก่น, โรงพยาบาลกรุงเทพพิษณุโลก,
          โรงพยาบาลกรุงเทพเชียงใหม่, โรงพยาบาลกรุงเทพเชียงราย,โรงพยาบาลพญาไท 1, โรงพยาบาลพญาไท 2,
          โรงพยาบาลพญาไท 3, โรงพยาบาลพญาไท ศรีราชา, โรงพยาบาลพญาไท นวมินทร์,โรงพยาบาลเปาโล เมโมเรียล พหลโยธิน,
          โรงพยาบาลเปาโล เมโมเรียล โชคชัย4, โรงพยาบาลเปาโล เมโมเรียล สมุทรปราการ, โรงพยาบาลเปาโล รังสิต,
          โรงพยาบาลเปาโล เกษตร,โรงพยาบาลเปาโล พระประแดง, โรงพยาบาลกรุงเทพภูเก็ต, โรงพยาบาลกรุงเทพสิริโรจน์,
          โรงพยาบาลดีบุก, โรงพยาบาลกรุงเทพหาดใหญ่ , โรงพยาบาลกรุงเทพสมุย,โรงพยาบาลกรุงเทพสรุาษฏร์, บีดีเอ็มเอส เวลเนส คลินิก
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          F/M-BWC-052THAI (1 January 2020)
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-card-content>
</ion-card>
<!-- End Content -->
</div>
<<<<<<< HEAD
</ion-content>
=======
<div id="TempDataDiv" style="visibility:hidden"></div>
</ion-content>
>>>>>>> 118d50b1ee8316eada5925f0783a7dc1c4217839
