<span *ngIf="signature == ''" [ngClass]="{'drawing-active': isDrawing}">
  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
  <button ion-button outline color="danger" (click)="clearPad()"><ion-icon name="refresh"></ion-icon></button>
  <button ion-button outline color="primary" (click)="savePad()"><ion-icon name="checkmark"></ion-icon></button>
</span>
<span *ngIf="signature != ''">
  <img style="width:300px;height:100px;display:inline-block;max-width:unset;" [src]="signature" />
</span>
