<ion-header>
  <ion-navbar>
    <ion-title>
      Customers
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Find By Hn" (ionInput)="findCustomer($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="customers">
    <button ion-item *ngFor="let customer of customers" (click)="viewCustomer(customer)">
      <ion-thumbnail item-start>
        <img *ngIf="customer.sex == 'Male (ชาย)'" src="assets/imgs/male.png">
        <img *ngIf="customer.sex == 'Female (หญิง)'" src="assets/imgs/female.png">
      </ion-thumbnail>
      <h2>{{ customer.hn }}</h2>
      <p>{{ customer.titleTh }} {{ customer.firstnameTh }} {{ customer.middlenameTh }} {{ customer.lastnameTh }}</p>
    </button>
  </ion-list>
</ion-content>
