<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-title *ngIf="customer">{{ customer.titleTh }} {{ customer.firstnameTh }} {{ customer.middlenameTh }} {{ customer.lastnameTh }}</ion-title>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid *ngIf="customer">
        <ion-row customer-profile>
            <ion-col col-3>
                <!-- <img *ngIf="customer.sex == 'Male (ชาย)'" src="assets/imgs/male.png">
          <img *ngIf="customer.sex == 'Female (หญิง)'" src="assets/imgs/female.png"> -->
                <img src="http://10.90.10.203:8080/consent-form-api-v4/photo/{{customer.hn}}" />
            </ion-col>
            <ion-col col-9>
                <ul class="list-group">
                    <li class="list-group-item text-muted" customer-name>
                        {{ customer.titleTh }} {{ customer.firstnameTh }} {{ customer.middlenameTh }} {{ customer.lastnameTh }}
                    </li>
                    <li class="list-group-item">
                        <span left><strong><ion-icon name="pin"></ion-icon>&nbsp;Address</strong></span>{{ customer.addressNo }} {{ customer.area }} {{ customer.city }} {{ customer.province }} {{ customer.zipcode }}
                    </li>
                    <li class="list-group-item">
                        <span left><strong><ion-icon name="male"></ion-icon>&nbsp;Gender : </strong></span>{{ customer.sex }}
                    </li>
                    <li class="list-group-item">
                        <span left><strong><ion-icon name="phone-portrait"></ion-icon>&nbsp;Phone : </strong></span>{{ customer.mobilePhone }} , {{ customer.HomePhone }} , {{ customer.officePhone }}
                    </li>
                    <li class="list-group-item">
                        <span left><strong><ion-icon name="calendar"></ion-icon>&nbsp;Date Of Birth : </strong></span>{{ customer.dob | date }}
                    </li>
                    <li class="list-group-item">
                        <span left><strong><ion-icon name="mail"></ion-icon>&nbsp;Email : </strong></span>{{ customer.email }}
                    </li>
                    <li class="list-group-item">
                        <span left><strong><ion-icon name="mail"></ion-icon>&nbsp;Secretary : </strong></span>{{ customer.secretaryNumber }}
                    </li>
                </ul>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div padding>
                    <ion-segment [(ngModel)]="segment">
                        <ion-segment-button value="forms">
                            Consent Forms
                        </ion-segment-button>
                        <ion-segment-button value="documents">
                            Documents
                        </ion-segment-button>
                        <ion-segment-button value="doctorconsent">
                            DoctorConsent
                        </ion-segment-button>
                    </ion-segment>
                </div>

                <div [ngSwitch]="segment">
                    <ion-grid *ngSwitchCase="'forms'">
                        <ion-row>
                            <ion-col col-8>
                                <h1>The documents was signed</h1>
                            </ion-col>
                            <ion-col col-4 text-right>
                                <button ion-button outline block (click)="newConsent(customer)">New Consent Form</button>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="customer.documents.length == 0">
                            <ion-col text-center>
                                <span text-blank-splash>No documents signed.</span>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="customer.documents">
                            <ion-col>
                                <ion-scroll scrollY="true" style="width:100%;height:65vh;">
                                    <ion-list inset>
                                        <ion-item-group>
                                            <button ion-item *ngFor="let item of customer.documents | orderBy:'signedAt':false" (click)="viewSigned(item)">
                          {{ item.template.name }}
                          <p item-end>{{ item.signedAt | date: 'medium' }}</p>
                        </button>
                                        </ion-item-group>
                                    </ion-list>
                                </ion-scroll>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <ion-grid *ngSwitchCase="'documents'">
                        <ion-row>
                            <ion-col col-4 offset-8 text-right>
                                <button ion-button outline block (click)="newAttachment(customer)">New Attachment</button>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="customer.attachments.length == 0">
                            <ion-col text-center>
                                <span text-blank-splash>No attachments.</span>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="customer.attachments">
                            <ion-col>
                                <ion-scroll scrollY="true" style="width:100%;height:65vh;">
                                    <ion-list inset>
                                        <ion-item-group>
                                            <button ion-item *ngFor="let item of customer.attachments | orderBy: 'expiryAt'" (click)="viewAttachment(item)">
                            {{ item.remark }}
                            <p>{{item.expiryAt | date}}</p>
                        </button>
                                        </ion-item-group>
                                    </ion-list>
                                </ion-scroll>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <ion-grid *ngSwitchCase="'doctorconsent'">
                        <ion-row>
                                <ion-col col-4>
                                <button ion-button outline small slot="start">Refresh</button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-scroll scrollY="true" style="width:100%;height:65vh;">
                                    <ion-list inset>
                                        <ion-item-group>
                                            <button ion-item (click)="openDoctorConsent()">
                                            Consent1
                                            <p>2019/09/20</p>
                                            </button>
                                            <button ion-item>
                                                 Consent2
                                            <p>2019/09/21</p>
                                            </button>
                                            <button ion-item>
                                                 Consent3
                                            <p>2019/09/22</p>
                                            </button>
                                        </ion-item-group>
                                    </ion-list>
                                </ion-scroll>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>