page-contact {

}

page-view-contact {
  [customer-profile] {
    background: #ddd;
    padding: 5px;

    [customer-name] {
      font-size:18px;
      color: #00703c;
      font-weight:bold;
    }

    ul {
      list-style: none;
      li {
        margin: 15px;
      }
    }
  }

  [text-blank-splash] {
    font-size: 30px;
    margin-top: 70px;
    color: #ccc;
    display: block;
  }
}
