<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list no-lines>
    <ion-item-divider>
      For Administrator
    </ion-item-divider>
    <button ion-item (click)="users()">
      Users
      <ion-icon name="people" item-end></ion-icon>
    </button>
  </ion-list>

  <ion-list no-lines>
    <button ion-item (click)="about()">
      About
    </button>
  </ion-list>

  <ion-list no-lines>
    <!-- <ion-item-divider>

    </ion-item-divider> -->
    <button ion-item (click)="logout()">
      Logout
      <ion-icon name="log-out" item-end></ion-icon>
    </button>
  </ion-list>

</ion-content>
