<ion-header>

  <ion-navbar>
    <ion-title>Select form</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
          <span ion-text color="primary">Close</span>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar
      (ionInput)="doSearch($event)">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-item-group *ngFor="let cate of categories" inset>
    <ion-item-divider color="light">{{ cate.name }}</ion-item-divider>
    <button ion-item *ngFor="let item of cate.templates" (click)="select(item)">
        {{ item.name }}
      </button>
  </ion-item-group>

</ion-content>
