<ion-header>

    <ion-navbar>
      <ion-title>Forms</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
      <ion-searchbar
        (ionInput)="doSearch($event)">
      </ion-searchbar>
    </ion-toolbar>

  </ion-header>


  <ion-content>

    <ion-item-group *ngFor="let cate of categories" inset>
      <ion-item-divider color="light">{{ cate.name }}</ion-item-divider>
      <button ion-item *ngFor="let item of cate.templates" (click)="view(item)">
          {{ item.name }}
        </button>
    </ion-item-group>

  </ion-content>
