<ion-header>

  <ion-navbar>
    <ion-title *ngIf="document">{{ document.details.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- <ion-card *ngIf="document"> -->
    <!-- <ion-card-content> -->
      <ng-container *ngIf="document">
        <div [innerHTML]="document.details.body | safe: 'html'"></div>
        <!-- <ion-grid>
          <ion-row>
            <ion-col col-4>
              <b>ประเมินการทำ / Estimated Cost for</b>
            </ion-col>
            <ion-col col-4 offset-4>
              <b>วันที่ทำหัตถการ / Date of Procedure</b>
              <draw-pad></draw-pad>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8 offset-2>
              <b>Procedure</b>
              <div contenteditable="true">

              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <b>ค่าใช้จ่ายโดยประมาณ/ Estimated expenses</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 offset-3>
              <b>ราคาประเมิน / Estimated Price :</b>
            </ion-col>
          </ion-row>
        </ion-grid> -->

      </ng-container>
    <!-- </ion-card-content>
  </ion-card> -->

</ion-content>
