page-documents {
  .wrapper {
    position: relative;
    width: 100%;
    height: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  canvas {
    background-color: rgba($color: #ffffff, $alpha: 0.0);
  }
}
