<ion-header>

    <ion-navbar>
      <!-- <ion-title *ngIf="template">{{ template.details.title }}</ion-title> -->
       <ion-title>Consent1</ion-title>
      <ion-buttons end>
        <!-- <button ion-button (click)="save()"> -->
            <button ion-button (click)="presentConfirm  ()">
            <span ion-text color="primary">Save</span>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
  <img src="../../assets/imgs/Rosco_Screen_TwinWhite.jpg" />
  <ion-col col-2>
      ลายเซ็นผู้รับบริการ
    </ion-col>
    <ion-col>
      <draw-pad></draw-pad>
    </ion-col>
   </ion-content>