<ion-header>

        <ion-navbar>
          <ion-title>New Attachment</ion-title>
          <ion-buttons end>
            <button ion-button (click)="save()">
              Save
            </button>
          </ion-buttons>
        </ion-navbar>
      
      </ion-header>
      
      <ion-content padding>
      
        <button ion-button block (click)="takePhoto()" *ngIf="!base64Image">
          <ion-icon name="camera"></ion-icon>&nbsp;
          Take Photo
        </button>
      
        <ion-list>
          <ion-item>
            <ion-label>Expiry Date</ion-label>
            <ion-datetime displayFormat="YYYY-MMM-DD" min="{{minDate}}" max="{{maxDate}}" [(ngModel)]="expiryAt"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Remark</ion-label>
            <ion-input [(ngModel)]="remark"></ion-input>
          </ion-item>
        </ion-list>
      
        <div class="wrapper" *ngIf="base64Image">
          <img [src]="base64Image" />
        </div>
        <ion-list *ngIf="base64Image">
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <button ion-button block color="dark" (click)="takePhoto()">Re-Take Photo</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>