<ion-header>

  <ion-navbar>
    <ion-title *ngIf="template">{{ template.details.title }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()">
          <span ion-text color="primary">Save</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<!--  -->
<ion-content padding>

  <!-- <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <img src="/assets/imgs/logo.png" />
            <ion-card *ngIf="template">
              <ion-card-content>
                <p style="white-space:pre-line;">{{template.details.title}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <small>Name:</small> {{fullName}}
                </ion-col>
                <ion-col>
                  <small>Nationality:</small> {{nationality}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <small>Hn:</small> {{hn}}
                </ion-col>
                <ion-col>
                  <small>Physician:</small> {{physician}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <small>Visit Date:</small> {{episodeDate}}
                </ion-col>
                <ion-col>
                  <small>Department:</small> {{location}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <small>Birth Date:</small> {{birthDate}}
                </ion-col>
                <ion-col>
                  <small>Age:</small> {{age}}
                </ion-col>
                <ion-col>
                  <small>Gender:</small> {{gender}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <small>Allergies:</small> {{allergies}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card> -->

  <!-- <ion-card *ngIf="template">
    <ion-card-content> -->
      <ng-container id= "a">
        <!-- <div *ngIf="template" [innerHTML]="template.details.body | safe: 'html'"></div> -->
        <render-form *ngIf="template" [(html)]="template.details.body" [customer]="customer" (childData)='handleEvent($event)'></render-form>
      </ng-container>
    <!-- </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-list *ngIf="fileList">
        <ion-item *ngFor="let item of fileList">
        <button ion-button (click)="removeAttachment(item)">
              <ion-icon name="remove"></ion-icon>&nbsp;
        </button>
        <button ion-button (click)="addAttachment(item)">{{ item.name }}</button>
        </ion-item>
    </ion-list>
<button ion-button (click)="addAttachment()">
  <ion-icon name="add"></ion-icon>&nbsp;
  Add Attachment
</button>
</ion-card>

</ion-content>