<ion-header>

  <ion-navbar>
    <ion-title *ngIf="document.template">{{ document.template.details.title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- <ion-card *ngIf="document.template">
    <ion-card-header>{{ document.template.details.title }}</ion-card-header>
    <ion-card-content> -->
    <ng-container>
      <div [innerHTML]="document.paper | safe: 'html'"></div>
    </ng-container>
    <!-- </ion-card-content>
  </ion-card> -->
  <ion-card>
    <ion-list *ngIf="fileList">
      <ion-item *ngFor="let item of fileList">
        <button ion-button (click)="viewAttachment(item)">{{ item.fileName }}</button>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
