<ion-header>

        <ion-navbar>
          <ion-title>New Attachment</ion-title>
          <ion-buttons start>
            <button ion-button (click)="back()">
              back
            </button>
          </ion-buttons>
        </ion-navbar>
      
      </ion-header>
      
      <ion-content padding>
        <ion-list>
          <ion-item>
            <ion-label>Expiry Date</ion-label>
            <ion-label [innerHTML] = "expiryAt"></ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Remark</ion-label>
            <ion-label [innerHTML] = "remark"></ion-label>
          </ion-item>
        </ion-list>
      
        <div class="wrapper" *ngIf="base64Image">
          <img [src]="base64Image" />
        </div>
      </ion-content>