<ion-header>

  <ion-navbar>
    <ion-title>Users</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="users">
    <button ion-item *ngFor="let user of users" (click)="viewUser(user)">
      <ion-icon item-start name="person"></ion-icon>
      {{ user.name }}
      <button ion-button disabled outline item-end> {{user.role.name}} </button>
    </button>
  </ion-list>

</ion-content>
