<ion-header>

        <ion-navbar>
          <ion-title>Confirmation</ion-title>
        </ion-navbar>
      
      </ion-header>
      
      <ion-content padding>
        <p style="text-align:center"><b>Confirmation</b></p>
        <p style="text-align:center">Sign this consent?</p>
        <ion-buttons>
          <button ion-button (click)="dismiss('No')">
              No
            </button>
            <button ion-button (click)="dismiss('Yes')">
                Yes
              </button>
        </ion-buttons>
      </ion-content>